<link rel="stylesheet" href="../assets/css/estilo.css">
<link rel="stylesheet" href="../assets/css/componentes.css">
<script src="../assets/js/componentes.js"></script>

<div class="sidebar">
    <div class="logobranca"></div>
    <h2>Olá, Bem vindo @</h2>
    <a href="#">Página Inicial</a>
    <a onclick="toggleSubmenu()">Lorem Ipsum</a>
    <div id="submenu-dashboard" class="submenu">
      <a href="#">Lorem Ipsum</a>
      <a href="#">Lorem Ipsum</a>
    </div>
    <a href="#">Lorem Ipsum</a>
    <a href="#">Lorem Ipsum</a>
    <a href="#">Lorem Ipsum</a>
    <a href="#">Configurações</a>
    <a href="#">Sair</a>
  </div>

  <div class="main-content">
    <h1>Página Inicial</h1>
    <p>Lorem Ipsum Dolor Sit Amet Consectetur...</p>
  </div>
  
<div id="container-05" class="box-calculadora">
    <h1>Calculadora</h1>
    <br><br>
    <div class="visor-calc"></div>

    <div class="Calculadora-Linha01">
    <button>7</button>
    <button>8</button>
    <button>9</button>
    </div>

    <div class="Calculadora-Linha02">
    <button>4</button>
    <button>5</button>
    <button>6</button>
    </div>

    <div class="Calculadora-Linha03">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    </div>

    <div class="Calculadora-Linha04">
    <button>,</button>
    <button>0</button>
    <button>.</button>
    </div><br>

    <div class="Calculadora-Linha05">
    <button><icone-soma></icone-soma></button>
    <button><icone-subtracao></icone-subtracao></button>
    <button><icone-multiplicacao></icone-multiplicacao></button>
    <button><icone-divisao></icone-divisao></button>
    </div>
    
    <button>CALCULAR</button>
    </div>