<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="../assets/css/estilo.css">
</head>
<body>
    <div class="logo"></div>
    <div class="info">
    <h1>É novo? Cadastre-se abaixo</h1>
    <h4>Para ser cliente é necessário preencher corretamente o formulário abaixo com os respectivos dados cadastrais.</h4>
    </div>
    <div id="cadastro">
    <div class="usuario">
    <label>Nome:</label>    <input type="nome">
    <label>Sobrenome:</label>    <input type="sobrenome">
    <label>Sexo:</label>
    <label><input type="radio" name="tipo" value="1">Masculino</label>
    <label><input type="radio" name="tipo" value="2">Feminino</label>
    <label><input type="radio" name="tipo" value="3">Outro</label>

    <label>CPF:</label>    <input type="cpf">
    <label>Telefone:</label>    <input type="telefone">
    <label>E-mail:</label>    <input type="email">
    </div></div>
    

    <div class="rodape">
    <button>Cadastre-se</button>
    <label>Ao preencher o formulário acima  você concorda com os nosso <b>Termos de uso</b> e nossa <b>Política de Privacidade.</b></label>
    <a href="login.html">Login</a>
    </div></div>

    

</body>
</html>